/*  Improve the KPIs That Matter Section CSS  */

.dd_search_ends-title {
    margin: 0 0 14px;
    font-family: inherit;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -1.728px;
    color: #0B1720;
}

.img-responsive.center {
    margin-left: auto;
    margin-right: auto
}

.row.flex_row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.row.flex_alc {
    -ms-flex-align: center;
    align-items: center
}

.row.sp_32 {
    margin-left: -16px;
    margin-right: -16px
}

.row.sp_32>div {
    padding-left: 16px;
    padding-right: 16px
}

.row.sp_28 {
    margin-left: -14px;
    margin-right: -14px
}

.row.sp_28>div {
    padding-left: 14px;
    padding-right: 14px
}

.card-text:last-child {
    margin-bottom: 0
}

.dd_search_ends {
    font-family: 'Inter', sans-serif;
    padding: 0 0 75px;
    position: relative;
    overflow: hidden
}

.dd_search_ends .container .container {
    padding-left: 0;
    padding-right: 0
}

.wysiwyg .dd_search_ends {
    padding-top: 0;
    padding-bottom: 0
}



.dd_search_ends-title {
    margin: 0 0 14px;
    font-size: 40px;
    color: #000;
    font-weight: 400;
}

.dd_search_ends-subtitle {
    margin: 0 0 42px;
    font-family: inherit;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -.018em;
    color: #0B1720
}

.dd_search_ends-tabs .nav-tabs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: flex-start;
    font-family: inherit;
    margin: 0;
    padding: 0;
    list-style: none
}

.dd_search_ends-tabs .nav-tabs {
    margin-bottom: 40px;
    justify-content: center
}

.dd_search_ends-tabs .nav-tabs a {
    text-decoration: none;
    font-family: inherit;
    display: block;
    padding: 20px 40px 20px 40px;
    color: #6E7B81;
    text-align: center;

    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 10px
}

.dd_search_ends-tabs .nav-tabs a:focus,
.dd_search_ends-tabs .nav-tabs a:hover {
    color: #655CFE;
}

.dd_search_ends-tabs .nav-tabs .active a {
    color: #fff;
    background-color: #01273D;
}

.dd_search_ends-tabs .panel-tabs {
    display: none
}

.dd_search_ends-tabs .panel-tabs.active {
    display: block
}

.dd_search_ends-tabs .panel-tabs.card-cotent-type {
    border-radius: 16px;
    background: #F2F4F5;
}

.dd_search_ends-tabs .body-tabs .panel-tab-subtitle {
    font-family: inherit;
    font-weight: 600;
    font-size: 21px;
    line-height: 33px;
    text-align: center;
    letter-spacing: -.0055em;
    color: #869298;
    padding-bottom: 50px;
    padding-right: 12%;
    padding-left: 12%
}

.dd_search_ends-tabs .panel-tabs.card-cotent-type .dd_reviews {
    display: -ms-flexbox;
    display: flex
}

.dd_reviews-control {
    font-family: inherit;
    list-style: none;
    margin: 0;
    padding: 56px 0 0;
    width: 50% !important;
    position: relative;
    left: -30px;
    z-index: 2;
    overflow: initial !important;
    order: 2
}

.dd_reviews-control:after {
    content: "";
    display: block;
    clear: both
}

.dd_reviews-control li {
    float: left
}

.dd_reviews-control li.p_1 {
    margin-left: 14%;
    margin-right: 4.649469%;
    margin-top: 92px;
    width: 15.629742%
}

.dd_reviews-control li.p_2 {
    margin-left: 0;
    margin-right: 6.388467%;
    margin-top: 14px;
    width: 24.43095599393%
}

.dd_reviews-control li.p_3 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: 24.43095599393%
}

.dd_reviews-control li.p_4 {
    margin-left: 7.440061%;
    margin-right: 2.925645%;
    margin-top: 25px;
    clear: left;
    width: 15.629742%
}

.dd_reviews-control li.p_5 {
    margin-left: 0;
    margin-right: 3.552352%;
    margin-top: -1px;
    width: 24.43095599393%
}

.dd_reviews-control li.p_6 {
    margin-left: 0;
    margin-right: -3.358118%;
    margin-top: -50px;
    width: 25.64491654%
}

.dd_reviews-control li.p_7 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 37px;
    width: 22.913505311%
}

.dd_reviews-control li.p_8 {
    margin-left: 45.97875569%;
    margin-right: 0;
    margin-top: -54px;
    clear: left;
    width: 22.0030349%
}

.dd_reviews-control li a {
    opacity: .5;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden
}

.dd_reviews-control li a img {
    width: 100%;
    height: auto
}

.dd_reviews-control li a:hover {
    opacity: 1
}

.dd_reviews-control li a.active {
    border: 6px solid #207DE9;
    opacity: 1
}

.dd_reviews-main {
    width: 50%;
    position: relative;
    z-index: 0
}

.dd_search_ends-tabs .panel-tabs.card-cotent-type .dd_reviews-main {
    display: flex;
    padding: 64px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
    width: 800px
}

.dd_reviews-card {
    display: flex;
    flex-direction: column;
    height: 100%
}

.dd_reviews-card.active {
    display: flex
}

.dd_reviews-card .card-text,
.dd_reviews-card .card-text p {
    color: #333
}

.dd_reviews-card .card-foot {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.dd_reviews-card .card-photo {
    width: 87px;
    min-width: 87px;
    margin-right: 25px
}

.dd_reviews-card .card-photo img {
    width: 87px;
    height: 87px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.dd_reviews-card .card-foot-detail {
    -ms-flex-positive: 1;
    flex-grow: 1
}

.dd_reviews-card .card-title {
    font-family: inherit;
    margin: 0 0 4px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -.042em;
    color: #0B1720
}

.dd_reviews-card .card-subtitle {
    font-family: inherit;
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -.042em;
    color: #869298
}

.dd_reviews-card .card-more {
    margin-top: auto
}

.dd_reviews-card .card-link {
    font-family: inherit;
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    color: #655CFE;
    text-decoration: none
}

.dd_reviews-card .card-link:hover {
    text-decoration: underline
}

.dd_search_ends-tabs .panel-tabs.card-cotent-type .dd_reviews-featured-image-wrapper {
    display: flex;
    align-items: flex-end;
    flex: 1;
    position: relative
}

.dd_reviews-right-content__list-items {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    gap: 24px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.dd_reviews-right-content__list-item {
    border-radius: 16px 0 0 16px;
    padding: 16px 32px;
    text-decoration: none;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -.864px
}

.location-page-template .dd_search_ends-tabs .content-tabs .wysiwyg-cotent-type .dd_reviews-wysiwyg {
    background-color: #fff
}

.dd_reviews-right-content__list-items .dd_reviews-right-content__list-item:nth-child(1) {
    background: #207DE9
}

.dd_reviews-right-content__list-items .dd_reviews-right-content__list-item:nth-child(2) {
    background: #0760C3
}

.dd_reviews-right-content__list-items .dd_reviews-right-content__list-item:nth-child(3) {
    background: #00448F
}

.dd_search_ends-tabs .content-tabs .wysiwyg-cotent-type .dd_reviews-wysiwyg p:last-child {
    margin-bottom: 0
}

.dd_search_ends-tabs .content-tabs .wysiwyg-cotent-type .dd_reviews-wysiwyg .fx-callout.key-takeaway {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent
}

.dd_search_ends-tabs .content-tabs .wysiwyg-cotent-type .dd_reviews-wysiwyg .fx-callout.key-takeaway .body {
    position: relative
}

.dd_search_ends-tabs .content-tabs .wysiwyg-cotent-type .dd_reviews-wysiwyg #footable_parent_158645 tbody tr td {
    color: #333
}

.dd_search_ends-tabs .content-tabs .wysiwyg-cotent-type .dd_reviews-wysiwyg>ul,
.dd_search_ends-tabs .content-tabs .wysiwyg-cotent-type .dd_reviews-wysiwyg>ol {
    padding-left: 32px;
    list-style-position: outside
}

.dd_search_ends-tabs .content-tabs .wysiwyg-cotent-type .dd_reviews-wysiwyg>ul li,
.dd_search_ends-tabs .content-tabs .wysiwyg-cotent-type .dd_reviews-wysiwyg>ol li {
    color: var(--Primary-Darkest-Gray, #222);
    font-size: 21px;
    font-style: normal;
    line-height: 35px;
    list-style-position: outside
}

.dd_search_ends-tabs .content-tabs .wysiwyg-cotent-type .dd_reviews-wysiwyg ol li::marker,
.dd_search_ends-tabs .content-tabs .wysiwyg-cotent-type .dd_reviews-wysiwyg ul li::marker {
    color: var(--vivid-vivid-02, #207DE9) !important;
    font-weight: 600
}

.dd_reviews-card .card-text,
.dd_reviews-card .card-text h3 {
    color: #333;
    font-size: 32px;
    margin-bottom: 16px;
}

.dd_reviews-card .card-text,
.dd_reviews-card .card-text p {
    color: #333;
    font-size: 21px;
}

@media screen and (min-width:1025px) {
    .dd_search_ends-tabs.large-tab .nav-tabs.nav-tab-count-6 {
        justify-content: space-between
    }

    .dd_search_ends-tabs.two-tab .nav-tabs {
        justify-content: space-between;
        border-radius: 16px;
        border: 2px solid #EDF5FF
    }

    .dd_search_ends-tabs.two-tab .nav-tabs li {
        flex: 1;
        overflow: hidden
    }

    .dd_search_ends-tabs.two-tab .nav-tabs li a {
        border-radius: 0px !important
    }

    .dd_search_ends-tabs .nav-tabs li {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0
    }
}

@media screen and (min-width:600px) {
    .dd_search_ends-tabs .content-tabs .wysiwyg-cotent-type .dd_reviews-wysiwyg .fx-callout.key-takeaway .body:after {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 4px;
        background: #207DE9;
        left: 17px;
        top: 0
    }
}

@media (max-width:1540px) {
    .dd_reviews-control {
        left: -15px
    }

    .dd_reviews-control li.p_1 {
        margin-left: 9.5599393%;
        margin-right: 2.649468892261%
    }

    .dd_reviews-control li.p_4 {
        margin-left: 3%;
        margin-right: 2.925645%
    }

    .dd_reviews-control li.p_6 {
        margin-right: 1.6418816388467%
    }
}

@media (max-width:1440px) {
    .dd_search_ends-title {
        font-size: 56px;
        line-height: 64px
    }

    .dd_search_ends-subtitle {
        font-size: 28px;
        line-height: 34px
    }

    .dd_search_ends-tabs .nav-tabs a {
        font-size: 24px;
        line-height: 30px
    }

    .dd_reviews-card .card-link,
    .dd_reviews-card .card-subtitle,
    .dd_reviews-card .card-title {
        font-size: 22px;
        line-height: 1.2
    }
}

@media (max-width:1024px) {
    .dd_search_ends {
        padding: 64px 0
    }

    .dd_search_ends-title {
        font-size: 36px;
        line-height: 46px;
        margin-bottom: 6px
    }

    .dd_search_ends-subtitle {
        font-size: 24px;
        line-height: 30px
    }

    .dd_search_ends-tabs .nav-tabs a {
        font-size: 20px;
        line-height: 28px;
        padding: 20px
    }

    .dd_reviews:not(.single-image) .dd_reviews-main,
    .dd_reviews:not(.single-image) .dd_reviews-control:not(.single-image) {
        width: 100% !important
    }

    .dd_reviews-control {
        max-width: 600px;
        margin: 0 auto;
        padding: 0 0 46px;
        left: 0
    }

    .dd_reviews-card .card-link,
    .dd_reviews-card .card-subtitle,
    .dd_reviews-card .card-title {
        font-size: 20px;
        line-height: 1.2
    }

    .dd_search_ends-tabs .panel-tabs.card-cotent-type .dd_reviews {
        flex-direction: column
    }

    .dd_search_ends-tabs .panel-tabs.card-cotent-type .dd_reviews-featured-image-wrapper {
        justify-content: flex-end
    }
}

@media (max-width:991px) {
    .dd_search_ends-tabs .nav-tabs {
        align-items: center;
        overflow-x: auto;
        gap: 10px;
        white-space: nowrap
    }

    .dd_search_ends-tabs .nav-tabs li {
        width: 50%
    }

    .dd_search_ends-tabs .nav-tabs a {
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -.72px;
        border-radius: 8px;
        background: #EDF5FF
    }

    .dd_reviews-right-content__list-items {
        width: 226px;
        gap: 8px
    }

    .dd_reviews-right-content__list-item {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -.081px;
        padding: 12px 16px
    }

    .dd_reviews-card .card-text h2 {
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: 30px;
        letter-spacing: -.864px
    }

    .dd_search_ends-tabs .nav-tabs li {
        padding-left: 0;
        padding-right: 0
    }

    .dd_search_ends-tabs .nav-tabs {
        margin-bottom: 24px !important;
        padding-right: 24px;
        justify-content: flex-start
    }

    .dd_reviews-card .card-text,
    .dd_reviews-card .card-text p,
    .dd_search_ends-tabs .content-tabs .wysiwyg-cotent-type .dd_reviews-wysiwyg p,
    .dd_search_ends-tabs .content-tabs .wysiwyg-cotent-type .dd_reviews-wysiwyg li,
    .dd_search_ends-tabs .content-tabs .wysiwyg-cotent-type .dd_reviews-wysiwyg a,
    .dd_search_ends-tabs .content-tabs .wysiwyg-cotent-type .footable-header th {
        font-size: 18px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: 28px !important;
        letter-spacing: -0.081px !important
    }

    .dd_search_ends-tabs .content-tabs .wysiwyg-cotent-type .dd_reviews-wysiwyg {
        background: linear-gradient(0deg, rgba(204, 228, 255, .3) 0%, rgba(204, 228, 255, .3) 100%), #FFF;
        padding: 24px;
        border-radius: 16px
    }

    .location-page-template .dd_search_ends-tabs .content-tabs .wysiwyg-cotent-type .dd_reviews-wysiwyg {
        padding-left: 0;
        padding-right: 0;
        background: white !important
    }

    section.two-column-wysiwyg-section .dd_reviews-wysiwyg {
        background-color: transparent !important
    }

    .dd_search_ends-subtitle {
        margin-bottom: 32px
    }

    .dd_search_ends-tabs .nav-tabs::-webkit-scrollbar {
        height: 4px
    }

    .dd_search_ends-tabs .nav-tabs::-webkit-scrollbar-track {
        background: #F2F2F2;
        border-radius: 2px;
        margin-right: 24px
    }

    .dd_search_ends-tabs .nav-tabs::-webkit-scrollbar-thumb {
        background-color: #207DE9;
        border-radius: 2px
    }

    .dd_search_ends-tabs .nav-tabs::-webkit-scrollbar-thumb:hover {
        background-color: #185CB0
    }

    .nav-tabs-nav_container {
        padding-right: 0
    }
}

@media (max-width:1300px) {
    .dd_search_ends-tabs .panel-tabs.card-cotent-type .dd_reviews-main {
        width: auto;
        flex: 1
    }
}

@media (max-width:768px) {
    .dd_search_ends-tabs .content-tabs .wysiwyg-cotent-type .dd_reviews-wysiwyg table.ninja_footable tr {
        display: grid !important
    }
}

@media (max-width:767px) {
    .dd_reviews.single-image .dd_reviews-main {
        flex-direction: row
    }

    .dd_reviews-featured-image-wrapper {
        width: 100%;
        min-height: 300px;
        order: 1;
        margin-left: 0
    }

    .dd_reviews.single-image .dd_reviews-main,
    .dd_reviews.single-image .dd_reviews-control.single-image {
        width: 100% !important;
        order: 1 !important
    }
}

@media (max-width:599px) {
    .dd_search_ends-tabs .nav-tabs li {
        width: 100%
    }

    .dd_search_ends-tabs .panel-tabs.card-cotent-type .dd_reviews-main {
        padding: 24px
    }
}

.ids_startform2 {
    font-family: 'Inter', sans-serif;
    padding: 0 24px
}

.ids_startform2 .card-form {
    max-width: 1098px;
    margin: 0 auto;
    padding: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background-color: #152035;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}

.ids_startform2 .card-title {
    white-space: nowrap;
    font-family: inherit;
    font-weight: 900;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -.8px;
    color: #fff;
    margin: 0 39px 0 0
}

.ids_startform2 .card-body {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.ids_startform2 .card-body .form-control {
    background-color: #fff;
    height: 71px;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    color: #152035;
    padding: 20px 32px;
    outline: 0;
    line-height: 24px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px
}

.ids_startform2 .card-body .card-btn {
    width: auto;
    margin: 0;
    padding: 23px 54px;
    height: auto;
    font-family: inherit;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
    white-space: nowrap;
    background-color: #288cec !important;
    border-color: #288cec !important
}

.ids_startform2 .card-body .card-btn img {
    vertical-align: bottom
}

.ids_startform2 .card-body .card-btn:hover {
    background-color: #0E6AD2 !important;
    border-color: #0E6AD2 !important
}

.ids_startform2 .card-title {
    word-break: break-word;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    padding-bottom: 13px;
    margin-right: 0;
    white-space: break-spaces;
    display: flex;
    flex: 100%;
    width: 100%;
    text-align: center;
    padding-right: 20%;
    padding-left: 20%;
    display: inline-block
}

.ids_startform2 .card-title strong {
    color: #fff
}

.ids_startform2 .card-body {
    flex: 100%;
    display: flex;
    width: 100%
}

.ids_startform2 .card-form {
    display: flex;
    flex-direction: column
}

@media (max-width:1440px) {
    .ids_startform2 .card-title {
        font-size: 32px;
        line-height: 46px
    }

    .ids_startform2 .card-form {
        padding-left: 30px
    }
}

@media (max-width:1024px) {
    .ids_startform2 {
        padding: 0
    }

    .ids_startform2 .card-title {
        font-size: 28px;
        line-height: 36px
    }

    .ids_startform2 .card-form {
        padding: 30px;
        border-radius: 0;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }

    .ids_startform2 .card-body .form-control {
        padding-left: 16px;
        padding-right: 16px
    }

    .ids_startform2 .card-body .card-btn {
        padding-left: 24px;
        padding-right: 24px
    }
}

@media (max-width:767px) {
    .ids_startform2 .card-title {
        margin-bottom: 16px;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        text-align: center
    }

    .ids_startform2 .card-form {
        display: block
    }
}

@media (max-width:500px) {
    .ids_startform2 .card-body {
        display: block
    }

    .ids_startform2 .card-body .form-control,
    .ids_startform2 .card-body .card-btn {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        margin-bottom: 8px;
        width: 100%;
        display: block;
        text-align: center
    }
}

@media screen and (max-width:650px) {

    .dd_search_ends-subtitle,
    .dd_search_ends-title {
        text-align: left
    }
}